.notifi {
    border: 2px solid green;
    width: 320px;
    height: 80px;
    position: fixed;
    top: -80px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: top 0.3s ease;
    overflow: hidden;
}

.notifi .title #message {
    font-size: 18px;
    color: green;
}

.notifi .title {
    padding: 10px;
    height: 72px;
}