.message {
    min-width: 240px;
    margin: 24px auto;
    width: 600px;
    text-align: center;
    height: 450px;
}

.message a,
.message p {
    font-size: 20px;
}

.message h2 {
    color: rgb(0, 144, 0);
}

.message #goHome {
    display: none;
    color: rgb(88, 88, 243);
    margin-top: 10px;
}

.message #goCalendar {
    display: none;
    text-decoration: none;
    color: white;
    background-color: 34b7c6;
}

.message #calendar {
    background-color: #ffce3a;
    padding: 3px 10px 5px 10px;
    border-radius: 5px;
}

.message #calendar:hover {
    background-color: #ffbb00;
}
